.mapContainer {
  width: 100%;
  height: 80vh;
  border-radius: 20px;
  overflow: hidden;
  border-width: 2px;
}

.mapButtons {
  display: flex;
  margin-top: 10px;
  gap: 20px;
  z-index: 1;
}

.origin {
  align-items: center;
}

.listStyle {
  width: 100%;
  height: 80vh;
  overflow-y: auto;
  overflow-x: hidden;
  padding-right: 10px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(179, 177, 177, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease;
  border-radius: 20px;
}

.overlay.show {
  visibility: visible;
  opacity: 1;
  flex-direction: column;
  gap: 0.5em;
}

.airplane-icon {
  transition: transform 0.3s ease;
}

.custom-offcanvas {
  height: 60vh;
  display: flex;
  align-self: center;
  margin-left: 1rem;
  border-radius: 20px;
}

@media (max-width: 767px) {
  .listStyle {
    margin-top: 20px;
  }

  .mapContainer {
    width: 100%;
    height: 40vh;
    transition: height 0.3s ease;
  }
  .mapContainer:hover {
    height: 60vh;
  }

  .custom-offcanvas {
    margin-left: auto;
    width: 100% !important;
    max-width: 100% !important;
  }
}
